<%= form_with(model: [@project, task]) do |form| %>
        
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>
    <div>
        <%= form.label :description %>
        <%= form.text_field :description %>
    </div>
    <div>
        <%= form.label :deadline_at %>
        <%= form.datetime_select :deadline_at %>
    </div>
    
    <%= form.submit %>
<% end %>
