<h1>Tasks</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    <thead/>
    <tbody>
        <% @tasks.each do |task| %>
            <tr>
                <td> <%= task.name %> </td>
                <td> <%= task.description %> </td>
                <td> <%= link_to "Show", project_task_path(@project, task) %> </td>
                <td> <%= link_to "Edit", edit_project_task_path(@project, task) %> </td> 
                <td> <%= link_to "Destroy", [@project, task], data: {turbo_method: :delete}  %> </td>
            </tr>
        <% end %>
    <tbody/>
</table>

<%= link_to "Create Task", new_project_task_path(@project) %>
<%= link_to "Back", @project %>
