<h2><%= @task.name %></h2>
<p><%= @task.title %></p>
<p><%= @task.description %></p>
<p>Deadline: <%= @task.deadline_at %></p>

<div>
    <%= link_to 'back', project_tasks_path %>
    <%= link_to 'Edit', edit_project_task_path([@project, @task])%>
    <%= link_to 'Destroy',url_for([@project, @task]), method: :destroy, data: { confirm: 'Are you sure?' } %>
       
</div>
